params.index_db = "mpa_vJan21_CHOCOPhlAnSGB_202103"
params.mpa_db = "s3://singulargenomics1-refdata/genomes/metaphlan4_databases/"
params.input_fastqs = "$baseDir/fastq/*_{1,2}.fastq.gz"
params.out = "mpa4_output"

profiles {
    local {
        includeConfig 'config/local.config'
    }

    docker {
        docker.enabled = true
        includeConfig 'config/docker.config'
    }
}
